.stores {
    position: relative;
    min-height: 40vw;
    .stores-cover {
        width: 100%;
        @include media-breakpoint-up(md) {
          height: 100vw;
        }
    }
    padding-top: 0;
    .stores-cover {
        overflow: hidden;
        @include media-breakpoint-up(md) {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 100%;
        }
        svg {
          display: block;
          &.cover-desktop {
            @include media-breakpoint-up(md) {
              height: 133%;
              right: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &.cover-mobile {
            width: 100%;
            height: auto;
          }
        }
    }
}
