.timeline {
    position: relative;
    .imagem {
      position: absolute;
      top: 9rem;
      img {
        height: 66.666vw;
      }
    }
    .ano {
        font-size: 40px;
        line-height: 2rem;
        font-weight: 600;
        margin-bottom: calc(50vw + 4rem);
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            font-size: 64px;
            line-height: 3rem;
            font-weight: 300;
        }
    }
    .texto {
      @include media-breakpoint-up(md) {
        margin-bottom: 4rem;
      }
    }
    @include media-breakpoint-up(md) {
        .imagem {
            top: 0;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 100%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .imagem {
            width: 100% / 5 * 3;
        }
    }
    #navTimeline {
        position: absolute;
        top: 6.5rem;
        width: 100%;
        z-index: 2;
        @include media-breakpoint-up(md) {
          bottom: 0;
          top: unset;
        }
        button {
          -webkit-appearance: none;
          -moz-appearance: none;
          border: none;
          background: none;
        }
        .prev, .next {
          cursor: pointer;
          transition: opacity .15s ease;
          &.disabled {
            opacity: 0;
            pointer-events: none;
          }
          .text {
            display: inline-block;
          }
          .arrow {
            font-size: 2.5rem;
            display: inline-block;
            vertical-align: bottom;
            transition: transform .15s ease;
            font-weight: 600;
            @include media-breakpoint-up(md) {
              font-size: 2rem;
              font-weight: 300;
            }
          }
        }
        .prev {
          &:hover {
              .arrow {
                transform: translateX(-.25rem);
              }
          }
          .arrow {
            margin-right: .5rem;
          }
        }
        .next {
          &:hover {
              .arrow {
                transform: translateX(.25rem);
              }
          }
          .arrow {
            margin-left: .5rem;
          }
        }
    }
}
