main.page {
  padding-top: 3.5rem;
  @include media-breakpoint-up(lg) {
    padding-top: 4.5rem;
  }
}

main.page.single, .mce-content-body {
  blockquote, blockquote p {
    color: $marrom;
    font-style: italic;
  }
  blockquote {
    & + p {
      margin-top: 1rem;
      @include media-breakpoint-up(lg) {
        margin-top: 2.5rem;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
    &.size-full {
      width: 100%;
    }
  }
  p, .text-medium, figure {
    & + figure {
      margin-top: 2rem;
      figcaption {
        margin-bottom: 2rem;
      }
      &:last-child {
        figcaption {
          margin-bottom: 0;
        }
      }
    }
    & + p img {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    & + .mceTemp {
      dl.wp-caption {
        margin-top: 2rem;
      }
    }
  }
  p {
    & > img {
      margin-top: 1.5rem;
      @include media-breakpoint-up(lg) {
        margin-top: 1rem;
        &.alignleft {
          margin-top: 2rem;
        }
        &.alignright {
          margin-top: 2rem;
        }
      }
    }
  }
  figure, dl.wp-caption, p > img {
    margin-bottom: 1rem;
    &.alignleft {
      margin-right: 2rem;
    }
    &.alignright {
      margin-left: 2rem;
    }
    .wp-caption-dt {
      img {
        display: block;
      }
      & + .wp-caption-dd {
        margin-top: 1rem;
      }
    }
  }
  .wp-caption, .wp-caption-dd {
    background: none;
    border: none;
    max-width: 100%;
    padding: 0;
    text-align: center;
    figcaption {
      margin-top: .5rem;
      font-style: italic;
    }
  }
}
