* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 125%;
  font-family: "Roboto";
  @include media-breakpoint-up(lg) {
    font-size: 150%;
  }
  @include media-breakpoint-up(xl) {
    font-size: 150%;
  }
}

body {
  font-family: "Roboto";
  font-weight: 200;
  font-style: normal;
}

a:hover {
  text-decoration: none;
}

img, svg {
  vertical-align: middle;
}

button {
  &:focus {
    outline: none;
  }
}

*::-webkit-scrollbar {
    width: .5rem;
    color: $turquesa;
}

*::-webkit-scrollbar-track {
    background-color: $cinza-1;
}

*::-webkit-scrollbar-thumb {
  background-color: $cinza-3;
  outline: none;
}
