// Custom GC Typography

@mixin titulo-1 {
  font-family: $font-family-heading, sans-serif;
  font-size: 35px;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  color: $preto;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-size: 64px;
    line-height: 3rem;
  }
}

@mixin titulo-2 {
    font-family: $font-family-heading, sans-serif;
    font-size: 30px;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $preto;
    margin-bottom: 0;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-style: normal;
    @include media-breakpoint-up(lg) {
        font-style: normal;
        font-size: 40px;
        line-height: 2rem;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
}

@mixin titulo-3 {
  font-family: $font-family-heading, sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 1.5rem;
  text-transform: none;
  font-weight: 700;
  color: $preto;
  margin-bottom: 0;
  letter-spacing: 0;
  word-spacing: 0;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5rem;
    letter-spacing: 0;
    word-spacing: 0;
  }
}

@mixin titulo-4 {
  font-family: $font-family-heading, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $preto;
  margin-bottom: 0;
  letter-spacing: .5px;
  word-spacing: .5px;
  font-style: normal;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}

@mixin titulo-5 {
  font-family: $font-family-heading, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  text-transform: none;
  font-weight: 700;
  color: $preto;
  margin-bottom: 0;
  letter-spacing: 0;
  word-spacing: 0;
  font-style: normal;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1rem;
    letter-spacing: 0;
    word-spacing: 0;
  }
}

@mixin titulo-6 {
  font-family: $font-family-heading, sans-serif;
  font-size: 15px;
  line-height: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $preto;
  margin-bottom: 0;
  letter-spacing: .5px;
  word-spacing: .5px;
  font-style: normal;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1rem;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}

@mixin texto-grande {
  font-family: $font-family-heading, sans-serif;
  font-size: 25px;
  line-height: 1.5rem;
  font-weight: 300;
  margin-bottom: 0;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0;
  color: $preto;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 2rem;
  }
}

@mixin blockquote {
  font-family: $font-family-text, sans-serif;
  font-size: 22px;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: 0;
  font-style: italic;
  color: $marrom;
  @include media-breakpoint-up(lg) {
    font-size: 32px;
    line-height: 2rem;
    font-style: italic;
  }
}

@mixin texto-medio {
  font-family: $font-family-text, sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: 0;
  font-style: normal;
  color: $preto;
  @include media-breakpoint-up(lg) {
    font-size: 22px;
    font-style: normal;
  }
}

@mixin texto-pequeno {
  font-family: $font-family-text, monospace;
	font-weight: 400;
	margin-bottom: .5rem;
  text-transform: none;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 1rem;
  font-style: normal;
  color: $preto;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  	line-height: 1rem;
    font-style: normal;
  }
}

@mixin texto-botao {
  @include media-breakpoint-up(lg) {
  }
}

@mixin texto-botao-grande {
  font-family: $font-family-heading, sans-serif;
  font-size: 20px;
  line-height: 1rem;
  font-weight: 300;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  @include media-breakpoint-up(lg) {
    font-style: normal;
    font-size: 30px;
    line-height: 1.5rem;
    letter-spacing: 2px;
  }
}

h1, .h1 { @include titulo-1; }

h2, .h2 { @include titulo-2; }

h3, .h3 { @include titulo-3; }

h4, .h4 { @include titulo-4; }

h5, .h5 { @include titulo-5; }

h6, .h6 { @include titulo-6; }

.custom-content {
  h1, .h1 { @include titulo-2; }
  ul {
    li {
      padding-left: .5rem;
      position: relative;
      &::before {
        content: '•';
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  img {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

p, .text-medium, a, li, li a {
    @include texto-medio;
    strong {
        font-weight: 700;
    }
}

p, li {
  color: $preto;
}

.text-large {
    @include texto-grande;
    strong {
        font-weight: 600;
    }
}
blockquote, blockquote p {
  @include blockquote;
}

.text-small, figcaption, input, textarea {
  @include texto-pequeno;
  strong {
    font-weight: 700;
  }
}

h1, .h1 {
  strong {
    font-weight: 800;
  }
}

p, .text-medium {
  strong {
    font-weight: 700;
  }
  & + p {
    margin-top: 1rem;
  }
  & + .text-medium {
    margin-top: 1rem;
  }
}

.button {
  @include texto-botao;
}

.button-large {
  @include texto-botao-grande;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: $preto;
}

*::selection {
    background-color: $turquesa;
    color: $branco;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, blockquote {
	text-align: left;
}

figure {
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul, ol, dl {
  margin-bottom: 0;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

sup {
  font-size: 66.666666%;
}

ol {
  counter-reset: item;
  li {
    counter-increment: item;
    position: relative;
    padding-left: .75rem;
    @include media-breakpoint-up(lg) {
      padding-left: 1rem;
    }
    &:before {
      content: counter(item)". ";
      position: absolute;
      left: 0;
      top: 0;
      text-align: left;
      display: inline-block;
    }
  }
}

a, a:hover {
  text-decoration: none;
  transition: all .15s ease-in-out;
}

a:hover {
  //opacity: .75;
}

a, li, a:hover, a:active {
    color: inherit;
}

.tag-small {
  font-family: $font-family-text, sans-serif;
  line-height: 1rem;
  letter-spacing: .5px;
  border: 2px solid $preto;
  display: inline-flex;
  padding: 0 .25rem;
  border-radius: 2px 8px 2px 8px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.tag {
  font-family: $font-family-text, sans-serif;
  line-height: 1rem;
  letter-spacing: 1px;
  border: 2px solid $preto;
  display: inline-flex;
  padding: 0 .25rem;
  border-radius: 2px 8px 2px 8px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.tag-large {
  font-family: $font-family-text, sans-serif;
  line-height: 1.5rem;
  letter-spacing: 1px;
  border: 2px solid $preto;
  display: inline-flex;
  padding: 0 .5rem;
  border-radius: 2px 8px 2px 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.link-lg {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    border: 1px solid $turquesa;
    @include media-breakpoint-up(lg) {
      border: 2px solid $turquesa;
    }
  }
}
